body {
    background: #333;
    margin: 0;
    overflow: hidden;
}
* {
    transition: .5s all;
}
img {
    -webkit-user-drag: none;
    user-select: none;
}
input {
    user-select: none;
}
#chats {
    border: #888 .2em solid;
    user-select: none;
    position: absolute;
    top: 8vh;
    border-radius: 8px;
    left: 2vw;
    width: 10vw;
    height: 90vh;
    background: rgba(100,100,100,.3);
}

.message:hover {
    background: rgba(90,90,110,.5);
}

.contentHolder {
    margin-left: 1vw;
    margin-right: 1vw;
}
.message {
    margin-top: 2vh;
    font-family: Arial;
    background: none;
}
.messProf {
    margin-top: .5vh;
    border-radius: 50%;
    margin-left: .5vh;
    width: 5vh;
    -webkit-user-drag: none;
    box-shadow: 0 0 5px black;
}
.messName {
    font-weight: lighter;
    font-size: 1.5vw;
    top: 2vh;
    color: #eee;
    left: 4vw;
    margin-top: -6vh;
    margin-left: 3.5vw;
}
.messageContent {
    font-weight: 400;
    margin-left: 3.5vw;
    margin-top: -3vh;
    color: #aaa;
    font-size: 1vw;
    left: 4vw;
    top: 5.5vh;
}

#message {
    position: absolute;
    bottom: calc(2vh + 4px);
    height: 4vh;
    color: #ddd;
    font-size: 1vw;
    border-radius: 4px;
    border: rgba(90,90,110,.6) 2px solid;
    width: calc(69vw - 4px);
    left: 1.5vw;
    outline: none;
    background: rgba(70,70,90,.4);
}
#textField {
    position: absolute;
    border: rgba(100,100,100,.2) 2px solid;
    top: 10vh;
    height: 78vh;
    width: 70vw;
    left: 1vw;
}
#scrollPane {
    max-height: 70vh;
    overflow-x: auto;
}
::-webkit-scrollbar {
    display: none;
}
#user {
    position: absolute;
    user-select: none;
    color: #eee;
    font-size: 5vh;
    font-family: Arial;
    left: 1vw;
    margin-top: 0;
}
.show {
    animation-name: shide;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    animation-delay: 0s;
}
@keyframes shide {
    0% {
        right: -22vh;
        opacity: 0;
    }
    10% {
        right: -8px;
        opacity: 1;
    }
    90% {
        right: -8px;
        opacity: 1;
    }
    100% {
        right: -22vh;
        opacity: 0;
    }
}
#erC,#erT {
    position: absolute;
    color: #eee;
}
#erT {
    top: 2px;
    margin-top: -.1vh;
    margin-left: .3vh;
    font-size: 2.5vh;
}
#erC {
    top: 2.5vh;
    font-size: 1.5vh;
    margin-top: .3vh;
    margin-left: .3vh;

}
#error {
    position: absolute;
    background: #900;
    width: 20vh;
    height: 5vh;
    bottom: 25vh;
    border: 2px solid black;
    border-radius: 8px;
    font-family: Arial;
    right: -22vh;
}
#scroll {
    margin-top: 1vh;
    overflow-x: auto;
    max-height: 83vh;
    min-height: 83vh;
    margin-left: .5vw;
}
#addbu {
    height: 2vw;
    width: 2vw;
    right: 2px;
    margin-top: 1vh;
    border-radius: 50%;
    color: #445;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    line-height: 2vw;
    user-select: none;
    cursor: pointer;
    margin-right: .3vw;
    position: absolute;
    border: 2px #445 solid;
}
#newChat {
    text-align: center;
    position: absolute;
    color: #eee;
    width: 6vw;
    margin-top: 1vh;
    border: #445 2px solid;
    background: none;
    outline: none;
    border-radius: 4px;
    height: 4vh;
    margin-left: .5vw;
}
.chat:hover {
    box-shadow: 0 0 5px white, 0 0 8px white;
}
#bak, #content {
    position: absolute;
    width: 100%;
    height: 100%;
}
#chat {
    position: absolute;
    width: 72vw;
    height: calc(90vh);
    border-radius: 12px;
    background: rgba(100,100,100,.3);
    backdrop-filter: blur(5px);
}
#settings {
    position: absolute;
    width: 10vw;
    top: 8vh;
    right: 1vw;
    height: calc(90vh);
    border: #888 .2em solid;
    border-radius: 12px;
    background: rgba(100,100,100,.3);
}
#border {
    position: absolute;
    width: 72vw;
    top: 8vh;
    height: calc(90vh);
    border-radius: 12px;
    left: 14vw;
    border: #888 .2em solid;
}
.chat {
    margin-top: 1vh;
    box-shadow: none;
    transition: .5s;
    margin-left: 2px;
    cursor: pointer;
    width: 9vw;
    height: 6vh;
    border-radius: 8px;
    background: #445;
}

.status {
    font-weight: 400;
    color: #aaa;
    font-size: .8vw;
    margin-top: -2vh;
    margin-left: 6vh;
    font-family: Arial;
}
.name {
    color: #eee;
    font-weight: lighter;
    font-size: 1vw;
    margin-left: 5.5vh;
    margin-top: -5vh;
    font-family: Arial;
}
.messNameDev {
    background: -webkit-linear-gradient(90deg,#f00, #ff0);
    text-shadow: 0 0 5px #f00, 0 0 10px #ff0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: lighter;
    font-size: 1.5vw;
    top: 2vh;
    left: 4vw;
    margin-top: -6vh;
    margin-left: 3.5vw;
}
.pfp {
    border-radius: 50%;
    box-shadow: 0 0 5px #000;
    margin-top: 1vh;
    margin-left: 1vh;
    width: 4vh;
    height: 4vh;
}